{
    "root": true,
    
    "rules": {
        "prettier/prettier": "off"
    },
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module"
    }
}